<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="{{ STATIC_URL }}js/controllers.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/capping.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </head>
  <body ng-app="cappingApp" ng-controller="MainCtrl">
    <div class="container">
      <img src="{{ STATIC_URL }}Seal Red75.png" class="center-block"/>
      <div>
        <div class="btn-toolbar pull-right">
          <div class="btn-group">
            <div>
              <button ng-click="toggleLogin()" class="btn btn-default btn-lg" ng-if="!user">Login</button>
              <button ng-click="logout()" class="btn btn-default btn-lg" ng-if="user">Logout</button>
            </div>
          </div>
        </div>
        <h1 class="page-header">Transfer Credit Evaluation</h1>
      </div>
    </div>

    <div class="container">

      {% verbatim angular %}
      <modal title="Please Login" visible="showLogin">
        <div>
          <label>Email address</label>
          <input type="text" ng-model="username.user" class="form-control" placeholder="Email"/>
        </div>
        <br>
        <div>
          <label>Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" />
        </div>
        <br>
        <button ng-click="login()" class="btn btn-default">Login</button>
      </modal>

      <div ng-if="user">Welcome Back {{user}}</div>

      <div>
        <p class="lead relative">Select Courses To Transfer
        <a class="helpButton" data-toggle="tooltip" title="Can't find your course? Email Us at registrar@marist.edu" href="mailto:registrar@marist.edu"><span>?</span></a>
        </p>
      </div>

      <div id="course-selection-header" class="row">
        <div class="col-md-2">
          <label><font color="#b31b1b">Subject:</font></label>
        </div>

        <div class="col-md-2">
          <label><font color="#b31b1b">Number: </font></label>
        </div>

        <div class="col-md-2">
          <label><font color="#b31b1b">Marist Options:</font></label>
        </div>
      </div>

      <div ng-class="entry-container" ng-repeat="entry in entries" class="row">
        <div class="selection col-md-2">
          <select ng-model="entry.selectedSubject" ng-change="entry.subjectChange()" class="form-control">
            <option ng-repeat="sub in entry.subjects">{{sub}}</option>
          </select>
        </div>

        <div class="selection col-md-2">
          <select ng-model="entry.selectedNumber" ng-change="entry.numberChange()" class="form-control">
            <option ng-repeat="num in entry.numberList">{{num}}</option>
          </select>
        </div>

        <div class="selection col-md-3">
          <select ng-model="entry.selectedMaristCourse" class="form-control">
            <option ng-repeat="course in entry.maristCourseList">{{course}}</option>
          </select>
        </div>

        <div class="deleteButton">
          <span class="glyphicon glyphicon-remove" ng-click="removeEntry($index)"></span>
        </div>
        <br><br><br>
      </div>

      <br>
      <button ng-click="addEntry()" class="btn btn-default">Add Entry</button>
      <br><br><br><br>

    <br>
    <br>
    <p>
      <h2>Select a Major</h2>
      <select ng-model="cmbMajor" ng-change="majorChanged()" class="form-control">
        <option ng-repeat="major in majors">{{major}}</option>
      </select>
    </p>
    <p>
    <div>
      <div>
        <h3><font color="#b31b1b">Static Requirements</font></h3>

        <ul class= "list-group">
           <li ng-repeat="sc in staticCourseReqs" class="requirement-{{sc.fulfilled}} list-group-item">
             {{sc.name}}
           </li>
        </ul>

      <!--<div ng-repeat="sc in staticCourseReqs" class="requirement-{{sc.fulfilled}}"> {{sc.name}}</div>
    -->

      </div>
      <div class="row">
        <div class="col-md-4">
        <h3><font color="#b31b1b">List Requirements</font></h3>
        <span ng-repeat="oli in oflistitems">
          Choose {{oli.number_selected}} of the following:
          <table class="table table-striped ">
            <tr><th>Course</th><th>Fulfilled</th></tr>
            <tr ng-repeat="cr in oli.coursereqs" class="fulfilled-{{cr.fulfilled}}">
              <td>{{cr.name}}</td>
              <td ng-if="cr.fulfilled">✔</td>
              <td ng-if="!cr.fulfilled"></td>
            </tr>
          </table>
        </span>
        </div>
      </div>
      <div class = "row">
        <div class = "col-md-4">
        <h3><font color="#b31b1b">Set Requirements</font></h3>
        <span ng-repeat="osi in ofsetitems">
          Choose {{osi.number_selected}} of each set
          <span ng-repeat="crs in osi.coursereqsets">
            <table class="table table-striped ">
              <tr><th>Course</th><th>Fulfilled</th></tr>
              <tr ng-repeat="cr in crs.coursereqs" class="fulfilled-{{cr.fulfilled}}">
                <td>{{cr.name}}</td>
                <td ng-if="cr.fulfilled">✔</td>
                <td ng-if="!cr.fulfilled"></td>
              </tr>
            </table>
          </span>
        </span>
      </div>
      </div>
    </div>
    <br>
    <br>

    <div id="generateReportDiv" class ="row">
    <button ng-click="updateUser()" ng-disabled="!user" class="btn btn-default">Save</button>
      <button ng-click="generateReport()" class="btn btn-default">Generate Report</button>
    </div>
  </div>
  {% endverbatim angular %}
  </body>
</html>
