<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="{{ STATIC_URL }}js/controllers.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>
 </head>
  <body ng-app="cappingApp">
    <b>Random Courses</b>
    <div ng-controller="MainCtrl">
      Within Controller <br><br>
      {% verbatim angular %}
      <div>External Courses:</div>
      <table border="1">
        <tr>
          <td>Subject</td>
          <td>Number</td>
          <td>Title</td>
        </tr>
        <tr ng-repeat="course in externalCourses">
          <td>{{course.subject}}</td>
          <td>{{course.number}}</td>
          <td>{{course.title}}</td>
        </tr>
      </table>
      <br>
      <div>Internal Courses:</div>
      <table border="1">
        <tr>
          <td>Subject</td>
          <td>Number</td>
          <td>Title</td>
        </tr>
        <tr ng-repeat="course in internalCourses">
          <td>{{course.subject}}</td>
          <td>{{course.number}}</td>
          <td>{{course.title}}</td>
        </tr>
      </table>
      {% endverbatim angular %}
      <br>
      <button ng-click="getAnotherCourse()">Get More Courses</button>
    </div>
    Out of Controller
  </body>
</html>
