/*** CSS for Capping Project ***/

.entry-container {
  display: inline-block;
}

.selection {
  display: inline-block;
}

.requirement-false{
}
.requirement-true{
  text-decoration: line-through;
}
