/*** CSS for Capping Project ***/

.entry-container {
  display: inline-block;
}

.selection {
  display: inline-block;
}

.requirement-false {
}
.requirement-true {
  text-decoration: line-through;
  color: red;
}

#generateReportDiv {
  padding: 50px 0 100px 0;
  margin: auto 5px;
}
