/*** CSS for Capping Project ***/
table {
  border-collapse: collapse;
}

td {
  position: relative;
  padding: 5px 10px;
}
tr.fulfilled-false{
}
tr.fulfilled-true {
  color: #b31b1b;
}

.entry-container {
  display: inline-block;
}

.selection {
  display: inline-block;
}

.row:hover :nth-child(4) {
  visibility: visible;
}

.deleteButton {
  visibility: hidden;
}

.deleteButton span:hover {
  cursor: pointer;
}

.requirement-false {
}
.requirement-true {
  color: #b31b1b;
}
.requirement-true:after {
  content:"✔";
}

#generateReportDiv {
  padding: 50px 0 100px 0;
  margin: auto 5px;
}

.page-header{
	padding-bottom:17px;
	margin:18px 0;
	border-bottom:4px solid #e4183e;
}

.relative {
  position: relative;
}

.helpButton{
  background: gray;
  border-radius:50%;
  color: white;
  display:inline-block;
  height:20px;
  margin-left: 5px;
  position: absolute;
  text-align: center;
  width:20px;
}
.helpButton span{
  display: inline-block;
  font-size: 10pt;
  margin: 1px 0px 0px -1px;
  vertical-align: middle;
}
a:hover{
  color: white;
  text-decoration: none;
}
